*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container{
    text-align: center;
    width: 100%;
}

ul li {
    background-color: #7fff00;
    list-style: none;
    display: inline-block; /*글자 가로배치*/
    text-align: center;
    vertical-align: bottom;
}

.category{
    width: 100%;
    height: 80px;
}

nav{
    float: left;
    width: 50%;
    height: 80px;
    background-color: pink;
}